.card-eco {
  min-width: 280px;
  max-height: 54px;
  margin-bottom: 24px;
  padding: 45px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(254, 239, 239) !important;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    max-width: 170px;
    max-height: 40px;
    // margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    color: #004d38;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & span {
      font-size: 12px;
    }
  }

  &__box {
    & span {
      color: cadetblue;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
}

@media (min-width: 540px) {
  .card-eco {
    min-width: 480px;
    max-height: 104px;
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &__title {
      max-width: 200px;
      max-height: 30px;
      font-size: 20px;
    }

    &__icon {
      width: 64px;
      height: 64px;
    }
  }
}

@media (min-width: 1024px) {
  .card-eco {
    min-width: 420px;
    // margin: 5px;
  }
}

@media (min-width: 1440px) {
}
