.menu {
  &__popup {
    position: relative;
    cursor: pointer;
    transition: background-color 0.6s;
  }
}

.dd-list {
  position: absolute;
  top: 70px;
  right: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0 20px;
  z-index: 99999;
}

.dd-list-item {
  min-width: 110px;
  cursor: pointer;
}
.dd-list-link {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 5px;
  color: #000;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.6s;

  &::before {
    opacity: 0;
    content: '';
    width: 4px;
    height: 8px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: red;
    transition: opacity 0.3s;
  }
  &:hover {
    color: red;

    &::before {
      opacity: 1;
    }
  }
  // &:hover .dd-list-item::before {
  //   opacity: 1;
  // }
}
.left {
  width: 100%;
  // margin-right: auto;
}
.right {
  width: 100%;
  text-align: right;
  color: red;
}
