.footer {
  min-height: 60px;
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
  bottom: 0px;
  width: 100%;
  position: fixed;
  align-items: center;
  background-color: #4fee8f;
=======
=======
>>>>>>> ad55191048848997a99b5fb5d7de69aa3c684e13
  // bottom: 0px;
  width: 100%;
  // position: fixed;
  align-items: center;
  color: #ffff;
  background-color: grey;

<<<<<<< HEAD
>>>>>>> d0beb3df34ae4bf863c8aa0f4e8cad9ca40b1a58
=======
>>>>>>> ad55191048848997a99b5fb5d7de69aa3c684e13
  &__copy {
    text-align: center;
  }
}
