.login {
  height: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  color: gray;
}

.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 100%;
  min-width: 250px;
  border: 2px solid #f6f6f6;
  outline: white;

  /* transition: box-shadow 0.3s; */
  background-color: #fffbf2;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.form input:hover {
  background-color: rgb(254, 232, 232);
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 0 -2px #a3bbc8;
}

.btn {
  width: 100%;
  max-width: 200px;
  margin: 12px 0 35px;
  font-size: 18px;
  line-height: 2.5;
  text-align: center;
  background-color: rgb(155, 239, 254);
  color: rgb(123, 122, 122);
  border-radius: 5px;
  border: none;
}

.btn:hover {
  color: #fff;
  background-color: rgb(96, 231, 255);
  border-radius: 5px;
}
