.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 15px;
}

.title {
  font-size: 18px;
  color: #019144;
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 27px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 20px;
  color: #8bc63e84;
}

.breadcrumbs__first {
  font-size: 24px;
  color: #8bc63e;
}

.breadcrumbs__last {
  font-size: 18px;
  color: #8bc63e84;
}
