.wrapper {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: white;
  color: $default-color;
  overflow-x: hidden;
  @extend %roboto-400;
  
}
#root {
  height: 100%;
}
.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
  .body {
    background: url(../images/bg_quez_1.jpg);		
}
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .body {
    background: url(../images/bg_quez_1.jpg);		
}
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .body {
    background: url(../images/bg_quez_1.jpg);		
}
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .body {
    background: url(../images/bg_quez_1.jpg);		
}
}

.main {
  flex-grow: 1;
}

a,
button {
  outline: transparent;
  cursor: pointer;
  text-decoration: none;
}

.title {
  position: relative;
  padding-bottom: 10px;
  font-size: 36px;
  color: $accent;
  text-align: left;
  // text-transform: uppercase;
  @extend %roboto-700;
}

.logo {
  display: none;
  margin-right: 20px;

  &__img {
    width: 60px;
    height: 25px;
  }
}

.App {
  height: 100%;
}
.title_quiz {
  position: relative;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: Inter;
  line-height: 22px;
  color: #353535;
  font-weight: bold;
  margin: 0 auto;
  }

.content__text_quiz {
  margin-bottom: 24px;
  font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
  text-align: center;
  letter-spacing: -0.017em;
  color: #8BC53F;
 }
.content__text_quiz span {
  font-size: 20px;	
  color: #aae55c;
 }

.card-eco__title_quiz {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: -0.24px;
color: #3D3D3D;
  }
.card-eco_quiz {
min-width: 280px;
margin-bottom: 24px;
padding: 30px 20px;
justify-content: space-between;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.img_quize{
margin:0 auto;
padding-bottom: 30px;
}
.card-eco__title_quiz {
  margin: 0 auto;
  max-width: 280px;
  }
  .title_quiz {
    position: relative;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Inter;
    line-height: 22px;
    color: #353535;
    font-weight: bold;
    margin: 0 auto;
}
.titlemob_quiz {
  text-align: center;
}
.card-eco__title_qest {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  margin: 0 auto;
  color: #5BCBB2;
}
.card-eco__title_button {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  margin: 0 auto;
  color: #FFFFFF;
}
.wrapper{ 
  background-size: cover;
	background-position: center center;
	background-attachment: fixed;
  background: url(../images/bg_quez_1.jpg);	
  	
}

 
@media (min-width: 1200px) {
	#root {
    background: url(../images/bg_quez_1.jpg);	
}
}


.quiz button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto; 
}
.card-eco_quest{
  min-width: 320px;
  max-height: 54px;
   margin-bottom: 24px;
   padding: 45px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}
.card-eco_quest:hover {
   background-color: #FC887B;
}
.card-eco_button:hover {
   background-color: #1a7460;
}
.card-eco_button{
  min-width: 320px;
   max-height: 54px;
   margin-bottom: 24px;
   padding: 45px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #86E3CE;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.img_quize {
  margin: 0 auto;
  padding-bottom: 30px;
}
.wrapper {
background-size: cover;
background-position: center center;
background-attachment: fixed;

}
